<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Rubyxp - Ruby regular expression tester</title>
		<%= stylesheet_link_tag 'reset', 'text', '960', 'base' %>
		<%= javascript_include_tag 'jquery', 'application' %>
	</head>
	
	<body>
    
    <a href="http://github.com/oscardelben/rubyxp"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub" /></a>
    
    <div class="container_12">

  		<h1>Ruby Regular Expression Tester</h1>
      
      <div class="grid_9">
  		  <%= yield %>
      </div>
      <div class="grid_3">
    	  <%= render :partial => 'home/side' %>
      </div>
      <div style="clear:both"></div>
      <div id="footer">Created by <a href="http://oscardelben.com">Oscar Del Ben</a>. Thanks to Seattle.rb for hospitality. &copy; 2008 - 2010 <a href="http://www.rubyxp.com">Ruby regular expressions</a>.</div>
    </div>

		<% if Rails.env.production? %>
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-7825563-1");
		pageTracker._trackPageview();
		} catch(err) {}</script>
		<% end %>
		
	</body>
	
</html>
